<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Opret bruger</title>
</head>
<body>
<h1>Opret ny bruger</h1>
<form action="/create-user" method="post">
    <input type="text" name="username" placeholder="Brugernavn" required/>
    <input type="email" name="email" placeholder="Email" required/>
    <input type="tel" name="phone" placeholder="Telefonnummer" required/>
    <input type="password" name="password1" placeholder="Adgangskode" required/>
    <input type="password" name="password2" placeholder="Gentag adgangskode" required/>
    <button type="submit">Opret bruger</button>
</form>
</body>
</html>
